@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Pixelify Sans", Arial;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: #212129;
}

body {
  cursor: none;
  margin: 0;
  padding: 0;
}

/*Music ---- START*/
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
  animation-delay: 0s;
}

/*Music ---- END*/

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("/cursor.png");
  background-size: cover;
  pointer-events: none;
  z-index: 9999;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 1em;
}

button:hover {
  border-color: #04bade;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
